# Plone Policies
# --------------
#
# Here we specify the versions of policy-packages that go into the release of
# this server.  We can also list hotfixes and other ad-hoc packages here.

[versions]
jpl.mcl.site.policy = 0.0.0


[plone-policies]
eggs =
    jpl.mcl.site.policy
    Products.PloneFormGen
