# MCL Base
# ========

[buildout]
update-versions-file = ${buildout:directory}/etc/versions/known-good-versions.cfg
newest               = false
unzip                = true
versions             = versions
extends =
    apache-httpd.cfg
    crontab.cfg
    init.cfg
    logrotate.cfg
    lxml.cfg
    supervisor.cfg
    varnish.cfg
    versions/dists.cfg
    versions/plone-policies.cfg
    zope.cfg
allow-hosts =
    oodt.jpl.nasa.gov
    pypi.fury.io
    *.githubusercontent.com
    *.github.com
    *.python.org
    *.plone.org
    launchpad.net
crontab-parts =
    zope-backup
    zope-pack
    zope-snapshot


# Hosts
# -----
#
# Default binding for services, and where other services are located.
[hosts]
public-hostname = mcl.jpl.nasa.gov
supervisor      = localhost
syslog          = localhost
varnish         = localhost
varnish-control = localhost
zeo             = localhost
zope            = localhost


# Ports
# -----
#
# Where to listen, and where to find services.  Note that
# collective.recipe.supervisor fails on port > 9999.
[ports]
supervisor      = 6471
varnish         = 6472
varnish-control = 6474
zeo             = 6475
zeo-monitor     = 6476
zope            = 6477
zope-debug      = 6478


# Users
# -----
#
# User IDs to use by default
[users]
varnish =
zeo     =
zope    =


# Paths
# -----
#
# Locations of OS-provided files
[paths]
varnishd = /usr/sbin/varnishd

