# Supervisor
# ==========
#
# Recipe to build/configure the Supervisor process monitor.
# See http://supervisord.org/ for more.
#
# The "username" is aliased to "user" for coherence with the Zope
# recipe.

[supervisor]
recipe   = collective.recipe.supervisor
port     = ${ports:supervisor}
user     = ${:username}
username = admin
password = admin
programs = 
    20 zeo                      ${buildout:bin-directory}/zeo       [fg]                    true ${users:zeo}
    30 zope                     ${buildout:bin-directory}/zope      [console]               true ${users:zope}
    40 varnish                  ${buildout:bin-directory}/varnish                           true
#  Pri Name     Options         Path                                Arguments               Stderr  Effective user
